.wrapper {
    width: clamp(50px, 100%, 568px);
    display: flex;
    /* align-items: stretch; */
    align-items: center;
    /* height: 3em; */
}
.search {
    justify-content:space-between;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    height: 3rem;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 502px;
}
.searchButton {
    border-radius: 0px 8px 8px 0px;
    height:3rem;
    width:4rem;
    padding: 14px 20px;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
}

.clearButton{
    top:2.25rem;
    position:absolute;
    right: 19rem;
    transform: translateY(-50%);
    background:none;
    border: none;
    cursor: pointer;
}